@import '_mixins.scss';

header {
  background: #fff;
  padding: 20px 5px 5px 5px;

  @media (min-width: 768px) {
    padding: 15px 15px 0 15px;
    min-height: 117px;
  }

  .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;

    @media (min-width: 768px) {
      padding-bottom: 0;
    }

    .user-dropdown {
      img {
        width: 36px;
        height: 36px;
      }
      i {
        color: #9fa9ba;
        font-size: 11px;
      }
    }

    .main-logo {
      display: flex;
      align-items: center;

      .logo {
        display: block;
        max-width: 180px;
        width: 100%;
        max-width: 163px;
        @media (min-width: 768px) {
          padding: 0;
          max-width: initial;
        }
      }
      .slogan {
        display: none;
        @media (min-width: 768px) {
          display: initial;
          padding-bottom: 5px;
          padding-left: 7px;
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;

      .login-btn,
      .signup-btn {
        font-size: 12px;
      }

      @media (min-width: 768px) {
        display: flex;

        .login-btn,
        .signup-btn {
          display: initial;
          font-size: 14px;
        }
      }

      .shopping-cart {
        display: none;

        @media (min-width: 520px) {
          @include font-gotham-medium;
          display: flex;
          align-items: center;
          margin: 0;
          padding-right: 20px;
        }
        @media (min-width: 768px) {
          padding-left: 0;
          padding-right: 25px;
        }

        .shopping-cart-msg {
          display: none;
          @include font-gotham-medium;

          @media (min-width: 992px) {
            font-size: 12px;
            color: #777777;
            padding-right: 15px;
            display: block;
            margin: 0;
          }

          a {
            color: #777777;
            @include font-gotham-medium;
            border-bottom: 1px dotted #777;
            text-decoration: none;
            &:hover {
              color: #212121;
            }
          }
        }

        .icon-container {
          position: relative;
          i {
            color: #777777;
            font-size: 20px;
          }
          .amount {
            position: absolute;
            top: -7px;
            right: -11px;
            text-align: center;
            background: #269eff;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            color: #fff;
            font-size: 12px;
          }
        }
      }

    }
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;

    .mobile-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-top: 1px solid #d4dadf;
      @include font-gotham-medium;

      @media (min-width: 768px) {
        display: none;
      }

      li {
        text-align: center;
        a {
          @include font-gotham-rounded-medium;
          text-decoration: none;
          padding-top: 15px;
          font-size: 12px;
          color: #777;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          bottom: 1px;
          flex-direction: column;
          transition: .3s;
          border-top: 3px solid #fff;
          &:hover,
          &.mobile-active {
            color: #212121;
            border-top: 3px solid #8bdd0b;
            svg path {
              fill: #212121 !important;
            }
          }
        }
        span {
          margin-top: 8px;
        }
      }
    }

    .desktop-nav {
      display: none;

      @media (min-width: 768px) {
        display: flex;
        margin-top: 17px;
        justify-content: space-between;
        align-items: center;
      }

      li:hover {
        a {
          color: #212121;
        }
      }

      li.active {
        box-shadow: inset 0 4px 0 #8bdd0b;
        border-radius: 6px 6px 0 0;
        border: 1px solid #e6eaee;
        background-color: #ffffff;
        color: #212121;
      }

      li {
        padding: 10px 0 10px 0;
        position: relative;
        top: 6px;
      }

      li a {
        transition: .3s;
        text-decoration: none;
        font-size: 14px;
        color: #777;
        padding: 15px;
        @include font-gotham-medium;

        @media (min-width: 768px) {
          justify-content: flex-start;
        }
      }
    }

    .more-nav {
      display: none;

      @media (min-width: 768px) {
        display: flex;
        align-items: flex-end;
        position: relative;
        top: 10px;

        .account {
          padding: 22px;
          top: 13px;
        }
        .help {
          line-height: 16px;
        }
        a {
          font-size: 14px;
          line-height: 0;
          color: #777;
          @include font-gotham-medium;
          padding: 15px;
          transition: .3s;
          text-decoration: none;
          &:hover {
            color: #212121;
          }
        }
      }
    }
  }
}