* {
  font-family: "Open Sans", sans-serif !important;
  text-size-adjust: 100%;
}

.redeem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 40px 0;

  @media (min-width: 768px) {
    padding: 40px 70px !important;
    margin: initial;
    justify-content: flex-start;
  }
}

.top-landing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  p, h1, img {
    text-align: center;
  }

  @media (min-width: 768px) {
    padding: 0 70px;
    align-items: flex-start;
    flex-direction: row;

    p, h1, img {
      text-align: left;
    }
  }



  h1 {
    font-weight: bold;
    line-height: 1.5;
    max-width: 765px;
  }

  p {
    max-width: 765px;
    color: #9B9B9B;
  }

  img {
    margin-top: 70px;
  }
}

h1 {
  padding: 0 15px;
}

.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mid-border {
  margin-top: 70px;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;

  img {
    padding-bottom: 40px;
  }

  @media (min-width: 768px) {
    padding: 0 70px;
    text-align: left;
  }
}

.ball-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 70px;

  @media (min-width: 768px) {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  p {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    color: #9B9B9B;
    font-size: 16px;
    max-width: 250px;
  }
}

.bear-ball-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 70px;

  p, h3, img {
    text-align: center;
  }

  p {
    max-width: 450px;
  }

  @media (min-width: 768px) {
    align-items: center;
    justify-content: center;
    flex-direction: row;

    p, h3, img {
      text-align: initial;
    }
  }

  img {
    font-weight: bold !important;
    font-size: 28px !important;
    align-self: flex-start;
  }
}

.join-free-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h3 {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  p {
    color: #9B9B9B;
    text-align: center;
    max-width: 780px;
    margin: 0 auto;
  }
}

.lottery-info {
  background: #ececec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ACACAC;
    border-bottom: 1px solid #9B9B9B;
    padding-top: 50px;
    max-width: 450px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;



    img {
      padding: 0 70px;
    }

    @media (min-width: 768px) {
      align-items: center;
      justify-content: space-between;
      padding-top: 55px;
      padding-bottom: 55px;
      flex-direction: row;
    }
  }
}

footer container {
  max-width: 600px !important;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

body > div.main-body > div > div.bear-ball-info > a {
  margin-right: -65px;

  @media (min-width: 768px) {
    margin-right: 0;
  }
}
