@import '_mixins.scss';

.main-hero-checkout {
  background-color: #efefef;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 11px;
  padding-bottom: 34px;
  @media (min-width: 480px) {
    padding: 30px !important;
  }
}

.hero-container {
  width: 100%;
  min-height: 524px;
  position: relative;
  margin: 0 auto;
  background-image: url(../img/checkout/subtle-jackpot-icons.png), url(../img/checkout/checkout-hero-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  @media (min-width: 480px) {
    font-size: 14px;
    border-radius: 6px 5px 5px;
  }

  @media (min-width: 1200px) {
    background-size: contain;
  }

  .hero-more-info {
    text-align: center;
    position: relative;
    bottom: 25px;

    p {
      color: #fff;
      @include font-gotham-book;
      text-align: center;
      margin: 0 auto;
      opacity: 0.9;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 14px;
      line-height: 24px;
      max-width: 648px;
      font-weight: 300;
      margin: 0 auto;
      position: relative;
      bottom: 30px;

      @media (min-width: 768px) {
        font-size: 14px;
        padding-top: 0px;
      }
    }
  }



  .hero-message {
    text-align: center;
    position: relative;
    top: 35px;

    h1 {
      @include font-gotham-rounded-medium;
      color: white;
      margin: 0;
      line-height: 34px;
      padding-left: 15px;
      padding-right: 15px;
      font-weight: 500;
      font-size: 24px;

      strong {
        @include font-gotham-rounded-bold;
      }

      @media (min-width: 768px) {
        font-size: 28px;
      }
    }

    p {
      @include font-gotham-book;
      font-weight: 300;
      color: white;
      font-size: 10px;
      padding-top: 16px;
      padding-left: 15px;
      padding-right: 15px;
      opacity: 0.9;
      font-size: 14px;
      margin: 0;
      line-height: 24px;

      @media (min-width: 768px) {
        font-size: 16px;
      }
    }
    i {
      color: white;
      font-size: 11px;
    }
  }

  .hero-down-icon-container {
    display: none;

    @media (min-width: 768px) {
      display: initial;
      a {
        padding: 25px;
      }
    }
  }

  .hero-content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    flex-direction: column;

    .owl-dots {
      position: absolute !important;
      left: 50% !important;
      transform: translateX(-50%) !important;
      display: flex !important;
      bottom: 5px !important;

      @media (min-width: 590px) {
        bottom: -5px !important;
      }

      @media (min-width: 786px) {
        bottom: -33px !important;
      }
    }

    .owl-dots .owl-dot {
      &.active {
        span {
          background: none repeat scroll 0 0 #fff !important;
          opacity: 1 !important;
        }
      }
    }

    .owl-dots .owl-dot span {
      background: none repeat scroll 0 0 #fff !important;
      display: block !important;
      height: 12px !important;
      margin: 5px 7px !important;
      opacity: 0.5 !important;
      width: 12px !important;
    }

    .owl-nav {
      position: absolute !important;
      width: 280px !important;
      height: 50px !important;
      left: 50% !important;
      margin-left: -138px !important;
      margin-bottom: -30px !important;
      @media (min-width: 786px) {
        width: 100% !important;
        left: initial !important;
        margin-left: initial !important;
        margin-bottom: initial !important;
      }
    }
    .owl-next img,
    .owl-prev img {
      width: 20px !important;
      height: 20px !important;
    }

    .owl-prev {
      position: absolute !important;
      left: 1% !important;
    }

    .owl-next {
      position: absolute !important;
      right: 1% !important;
    }


    .timer-icon {
      width: 22px;
      height: 22px;
    }

    .ticket-holder {
      width: 100%;
      max-width: 578px;
      min-height: 506px;
      max-height: 506px;
      position: relative;
      background-image: url(../img/checkout/free-ticket-offer.png);
      background-repeat: no-repeat;
      background-position: calc(50% - 10px) 100%;;
      background-size: cover;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 15px;
    }

    .hero-btn {
      @include font-gotham-rounded-bold;
      background-color: #77d300;
      color: #fff;
      text-transform: uppercase;
      transition: .3s;
      padding: 12.5px 16px;
      white-space: pre-wrap;
      font-size: 16px;
      z-index: 100;
      position: absolute;
      bottom: 85px;

      @media (min-width: 768px) {
        padding: 12.5px 60px;
      }
    }
  }
}