@import '_mixins.scss';

.main-security {
  background: #fff;
  position: relative;

  .security-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex-direction: column;

    @media (min-width: 992px) {
      flex-direction: row;
      justify-content: space-between;
    }

    .main-security-img {
      width: 230px;
      padding-top: 10px;
      text-align: center;

      .bbb-img {
        height: 75px;
      }

      img {
        height: 92px;
      }
      @media (min-width: 992px) {
       padding-top: 0;
        position: relative;
        bottom: 10px;
      }
    }
  }

  .horizontal-border-line {
    display: inline-block;

    @media (min-width: 992px) {
      display: none;
    }
  }

  .vertical-border-line {
    display: none;

    @media (min-width: 992px) {
      position: absolute;
      right: 49%;
      top: 35px;
      height: 111px;
      background: #d4dadf;
      width: 1px;
      display: inline-block;
    }
  }

  .security-description {
    @include font-gotham-medium;
    color: #212121;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 23px;

    p {
      @media (min-width: 768px) {
        text-align: left;
      }
    }

    @media (min-width: 992px) {
      padding-bottom: 0;
    }

    .verified {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-top: 10px;

      h6 {
        padding-right: 15px;
      }

      @media (min-width: 480px) {
        justify-content: center;
        flex-direction: row;
      }

      @media (min-width: 992px) {
        justify-content: flex-start;
      }

      img {
        width: 100px;
        height: 22px;
      }
    }

    .verified-icon-text {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #a4ee17;
      padding-top: 0;
      vertical-align: middle;
      color: white;
      line-height: 0;
      border-radius: 9px;
      font-size: 11px;
      margin-bottom: 0;
      width: 76px;
      height: 18px;
      font-family: 'Open Sans', sans-serif;
      margin-top: 3px;

      i {
        margin-bottom: 2.5px;
        margin-right: 8px;
      }

      img {
        width: 10px;
        height: 8px;
        margin-right: 5px;
      }
    }

    h6 {
      font-size: 18px;
      @include font-gotham-book;

      @media (min-width: 768px) {
        padding-right: 12px;
      }
    }
    p {
      font-size: 14px;
      padding-top: 8px;
      color: #3d3d3d;
      font-family: 'Open Sans', sans-serif;
      max-width: 455px;
      text-align: center;
      line-height: 24px;
      @media (min-width: 768px) {
        text-align: left;
      }
    }
  }
}