@import '_mixins.scss';

.main-testimonal {
  .container {
    background: url(../img/bg/big-blue-bg.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 35px;
  }

  .title {
    h2 {
      @include font-gotham-medium;
      font-size: 24px;
      text-align: center;
      color: white;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  .testimonial-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    @media (min-width: 992px) {
      flex-direction: row;
      justify-content: space-around;
    }

    .testimonial-box {
      @include font-gotham-book;
      background: rgba(#fff, 0.4);
      padding: 25px;
      border-radius: 20px;
      font-size: 16px;
      font-weight: 100;
      color: white;
      margin-bottom: 45px;
      font-weight: 300;
      position: relative;

      &.first-testimonial {
        background: rgba(#fff, 0.25);
      }

      @media (min-width: 992px) {
        margin-bottom: 0;
        max-width: 361px;
        line-height: 26px;
        padding: 25px 40px;
        position: relative;
        z-index: 2;

        img {
          width: 17px;
          height: 14px;
          display: inline-block;
        }

        .left-quote {
          position: absolute;
          left: 15px;
          top: 30px;
        }

        .right-quote {
          position: absolute;
          right: 0;
          bottom: 0;
          margin-right: 22px;
          margin-top: 50px;
        }

        &.second-testimonial {
          margin-bottom: 45px;

          &::after {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            left: auto;
            right: -20px;
            top: 177px;
            bottom: auto;
            border: 10px solid;
            transform: rotate(-90deg);
            border-color: rgba(255, 255, 255, 0.4) transparent transparent rgba(255, 255, 255, 0.4);
          }
        }

        &.first-testimonial {
          &::after {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            left: -20px;
            right: auto;
            top: 177px;
            bottom: auto;
            border: 10px solid;
            transform: rotate(180deg);
            border-color: rgba(255, 255, 255, 0.25) transparent transparent rgba(255, 255, 255, 0.25);
          }
        }

      }

      p {
        font-style: italic;
        text-align: center;
      }
      h6 {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        margin-top: 5px;
      }
      .city {
        font-size: 12px;
        text-align: center;
        margin: 0;
        @include font-gotham-book;
        font-style: italic;
      }
    }

    img {
      display: none;

      @media (min-width: 992px) {
        display: inline-block;
        width: 60px;
        height: 60px;
        position: relative;
        top: 85px;
      }
      @media (min-width: 1200px) {
        width: 90px;
        height: 90px;
      }
    }

    .second-img {
      top: 75px;
    }
  }

  .testimonial-highlight {
    color: white;
    font-size: 16px;
    text-shadow: 0 0 6px rgba(37, 102, 185, 0.13);
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    max-width: 662px;

    .name {
      display: flex;
      justify-content: center;
      align-items: center;
      .small-bottom-border {
        position: relative;
        bottom: 8px;
        right: 9px;
      }
    }

    p {
      @include font-gotham-book;
      font-style: italic;
      font-weight: 100;
    }
    strong {
      @include font-gotham-bold;
      font-style: italic;
    }
  }

  .border-holder {
    text-align: center;
  }

  .small-bottom-border {
    width: 20px;
    height: 3px;
    background: #e9e9e9;
    display: inline-block;
  }
}